# Telegram bot
BOT_TOKEN=123456789:ABCdefGhIjKlMnOpQrStUvWxYz
ADMINS=123456789

# Google Sheets sozlamalari
# SHEET_ID = sheet URL'idan oling: https://docs.google.com/spreadsheets/d/[BU_QISM]/edit
SHEET_ID=your_google_sheet_id_here
SHEET_TAB_NAME=Topshirganlar
SERVICE_ACCOUNT_FILE=service_account.json

# Backend (ixtiyoriy)
BACKEND_HOST=http://localhost:8000
